<% # Clients of this partial must supply the following variables:
   # name
   # id
   # value
   # options %>

<% options = {:id => id,
              :value => value}.merge(options) %>

<%= render :partial => "method_draw/embed",
           :formats => :html,
           :locals => options.slice(*MethodDraw::OPTIONS) %>

<%= tag :input, {"type" => "hidden", "name" => name}.update(options.except(*MethodDraw::METHOD_DRAW_OPTIONS).stringify_keys) %>
